*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    
    display: flex;
    flex-direction: column;
}

.div_main{
    flex: 1;
}

#header{
    font-family:monospace;
    text-align: center;
    background-color: rgb(23, 138, 33);
    border: 3px solid black;
    box-shadow: 0px 0px 45px rgb(30, 235, 30);
    padding: 20px;
}

.content{
    width: 400px;
    background-color: rgb(58, 58, 207);
    border: 3px solid black;
    box-shadow: 0px 0px 45px rgb(20, 14, 99);
    padding: 20px;
    margin: 40px;
    transition: transform 1.0s;
    text-align: center;
    animation: acelerate 2s forwards;
}

@keyframes rotar-elemento {
    0% {
    transform: rotate(0deg);
    }
    50% {
    transform: rotate(180deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

h1{
    animation: rotar-elemento 2s forwards;
}

.content:hover{
    transform: translateX(200px);
}

.box_highlight{
    color: rgb(255, 0, 0);
    text-align: center;
    transition: 1.0s;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
}
    .box_highlight:hover{
        transform: scale(2);
        background-color: rgb(255, 255, 255);
        font-size: 1.0em;
        font-weight: bold;
    }

.interactivity{
    font-family:monospace;
    width: 400px;
    background-color: chocolate;
    border: 3px solid black;
    box-shadow: 0px 0px 45px rgb(219, 96, 38);
    padding: 20px;
    margin: 40px;
    transition: 1.0s;
    text-align: center;
    animation: acelerate 2s forwards;
}

@keyframes acelerate{
    from{
        transform: translatex(0px);
    }

    to{
        transform: translateX(700px);
    }
}

#link a{
    color: aliceblue;
}

#link{
    text-align: center;
    transition: 1.0s;
}

#link:hover {
    transform: scale(2);
    font-weight: bold;
}

.rotate-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: 2s;
    margin: 10px;
}

    .rotate-box:hover {
        transform: rotate(90deg);
        background-color: green;
    }
        
.scale-box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    transition: 2s;
}

    .scale-box:hover{
        transform: scale(1.5);
        background-color: blueviolet;
    }
        
.translate-box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: 2s;
    margin: 10px;
    }

    .translate-box:hover{
    transform: translate(45px);
    background-color: orangered;
    }

footer{

    height: 6%;
    width: 100%;
    color: aliceblue;
    border: 2px solid black;
    background-color: rgb(70, 65, 70);
    box-shadow: 0px 0px 45px rgb(23, 24, 23);
    text-align: center;
}
